---
import Footer from "../components/Footer.astro";
import SignupForm from "../components/SignupForm";
import LoginForm from "../components/LoginForm";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import SubscriptionList from "../components/SubscriptionList";
---

<Layout>
  <Welcome />
  <!-- app link -->
  <section class="bg-success">
    <div class="container">
      <div class="row py-3">
        <div class="d-flex gap-3 align-items-center">
          <img
            src="assets/img/fav-2.png"
            class="img-fluid d-none d-md-block h-40"
          />
          <div class="text-white fs-6">
            Download the app and get <b class="text-warning-light rounded-pill"
              >25% OFF</b
            > on your first order!
          </div>
          <a
            href="#app-section"
            class="text-nowrap ms-auto text-decoration-none d-flex align-items-center text-success border-0 btn btn-light rounded-pill"
            >Download <span class="ms-1 d-none d-md-block">
              DeliverZ App Now&nbsp;</span
            ><span><i class="bi bi-chevron-right text-success"></i></span></a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="main-banner bg-white pt-4">
    <div class="container">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade mb-4"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <a href="#"
              ><img
                src="assets/img/banner1-new.png"
                class="d-block w-100"
                alt="..."
              /></a
            >
          </div>
          <div class="carousel-item">
            <a href="#"
              ><img
                src="assets/img/banner2.png"
                class="d-block w-100"
                alt="..."
              /></a
            >
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-4">
        <div class="col">
          <a href="#"
            ><img
              src="assets/img/l1.png"
              alt="#"
              class="img-fluid rounded-3"
            /></a
          >
        </div>
        <div class="col">
          <a href="#"
            ><img
              src="assets/img/l4.png"
              alt="#"
              class="img-fluid rounded-3"
            /></a
          >
        </div>
        <div class="col">
          <a href="#"
            ><img
              src="assets/img/l3.png"
              alt="#"
              class="img-fluid rounded-3"
            /></a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="py-5 d-flex align-items-center gap-4">
            <div class="d-none d-md-block">
              <img
                alt="#"
                src="assets/img/tiffin1.png"
                class="img-fluid ch-100 rounded-pill bg-light p-4"
              />
            </div>
            <div class="text-md-start text-center">
              <h2 class="mb-2 fw-bold">Our Popular Tiffin Subscriptions</h2>
              <p class="lead m-0">6 Packages</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <SubscriptionList client:load />
  <!-- <section class="bg-white">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-3 col-6">
          <a href="#"
            ><img src="assets/img/slider1.jpg" class="img-fluid rounded-3" /></a
          >
        </div>
        <div class="col-md-3 col-6">
          <a href="#"
            ><img src="assets/img/slider2.jpg" class="img-fluid rounded-3" /></a
          >
        </div>
        <div class="col-md-3 col-6">
          <a href="#"
            ><img src="assets/img/slider3.jpg" class="img-fluid rounded-3" /></a
          >
        </div>
        <div class="col-md-3 col-6">
          <a href="#"
            ><img src="assets/img/slider4.jpg" class="img-fluid rounded-3" /></a
          >
        </div>
      </div>
    </div>
  </section> -->
  <section id="app-section" class="bg-white py-5 mobile-app-section">
    <div class="container">
      <div
        class="bg-light rounded px-4 pt-4 px-md-4 pt-md-4 px-lg-5 pt-lg-5 pb-0"
      >
        <div
          class="row justify-content-center align-items-center app-2 px-lg-4"
        >
          <div class="col-md-7 px-lg-5">
            <div class="text-md-start text-center">
              <h1 class="fw-bold mb-2 text-dark">Get the DeliverZ app</h1>
              <div class="m-0 text-muted">
                We will send you a link, open it on your phone to download the
                app
              </div>
            </div>
            <div class="my-4 me-lg-5">
              <div class="input-group bg-white shadow-sm rounded-pill p-2">
                <span class="input-group-text bg-white border-0"
                  ><i class="bi bi-phone pe-2"></i> +1
                </span>
                <input
                  type="text"
                  class="form-control bg-white border-0 ps-0 me-1"
                  placeholder="Enter phone number"
                />
                <button
                  class="btn btn-warning rounded-pill py-2 px-4 border-0"
                  type="button">Send app link</button
                >
              </div>
            </div>
            <div class="text-md-start text-center mt-5 mt-md-1 pb-md-4 pb-lg-5">
              <p class="mb-3">Download app from</p>
              <a href="#"
                ><img
                  alt="#"
                  src="assets/img/play-store.svg"
                  class="img-fluid mobile-app-icon"
                /></a
              >
              <a href="#"
                ><img
                  alt="#"
                  src="assets/img/app-store.svg"
                  class="img-fluid mobile-app-icon"
                /></a
              >
            </div>
          </div>
          <div class="col-md-5 pe-lg-5 mt-3 mt-md-0 mt-lg-0">
            <img alt="#" src="assets/img/mobile-app-2.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <Footer />
  <!-- Login Modal -->
  <div
    class="modal fade"
    id="exampleModalToggle"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered login-popup-main">
      <div class="modal-content border-0 shadow overflow-hidden rounded">
        <div class="modal-body p-0">
          <div class="login-popup">
            <button
              type="button"
              class="btn-close position-absolute"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
            <div class="row g-0">
              <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image1"></div>
              <div class="col-md-8 col-lg-8 py-lg-5">
                <div class="login p-5">
                  <h5 class="mb-2 fw-bold">Hey! Signin with Email Address</h5>
                  <p class="text-muted mb-0">
                    Please login with this email address the next time you
                    sign-in
                  </p>
                  <LoginForm client:load />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Signup Modal -->
  <div
    class="modal fade"
    id="exampleModalToggle2"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered login-popup-main">
      <div class="modal-content border-0 shadow overflow-hidden rounded">
        <div class="modal-body p-0">
          <div class="login-popup">
            <button
              type="button"
              class="btn-close position-absolute"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
            <div class="row g-0">
              <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image1"></div>
              <div class="col-md-8 col-lg-8 py-lg-5">
                <div class="login p-5">
                  <h5 class="mb-2 fw-bold">Hey! Signup with Email Address</h5>
                  <SignupForm client:load />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 3rd -->
  <!-- <div
    class="modal fade"
    id="exampleModalToggle3"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel3"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-0 shadow">
        <div class="modal-header p-4 border-0">
          <h5 class="h6 modal-title fw-bold" id="exampleModalToggleLabel3"></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <div class="text-center mb-5 pb-2">
            <div class="mb-3">
              <img src="assets/img/login2.png" class="col-6 mx-auto" alt="" />
            </div>
            <h5 class="mb-2">Have a Referral or Invite Code?</h5>
            <p class="text-muted">Use code GET50 to earn 50 DeliverZ Cash</p>
          </div>
          <form>
            <label class="form-label">Enter your referral/invite code</label>
            <div class="input-group mb-2 border rounded-3 p-1">
              <span class="input-group-text border-0 bg-white"
                ><i class="bi bi bi-ticket-perforated text-secondary"></i></span
              >
              <input
                type="text"
                class="form-control border-0 bg-white ps-1"
                placeholder="Enter the code"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer px-4 pb-4 pt-0 border-0">
          <button
            class="btn btn-success btn-lg py-3 px-4 text-uppercase w-100 m-0"
            data-bs-target="#exampleModalToggle4"
            data-bs-toggle="modal">Claim DeliverZ Cash</button
          >
        </div>
      </div>
    </div>
  </div> -->
  <!-- 4rth -->
  <!-- <div
    class="modal fade"
    id="exampleModalToggle4"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel4"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-0 shadow">
        <div class="modal-header p-4 border-0">
          <h5 class="h6 modal-title fw-bold" id="exampleModalToggleLabel4"></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <div class="row justify-content-center">
            <div class="col-10 text-center">
              <div class="mb-5">
                <img src="assets/img/login3.png" alt="" class="col-6 mx-auto" />
              </div>
              <div class="my-3">
                <h5 class="fw-bold">You got 10.0 DeliverZ Cash!</h5>
                <p class="text-muted h6">
                  use this DeliverZ Cash to save on your next orders
                </p>
              </div>
              <div class="my-4">
                <p class="small text-muted mb-0">
                  Your DeliverZ Cash will expire in
                </p>
                <div class="h5 text-success">6d:23h</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer px-4 pb-4 pt-0 border-0">
          <a
            href="index.html"
            class="btn btn-success btn-lg py-3 px-4 text-uppercase w-100 m-0"
            >Tap to order</a
          >
        </div>
      </div>
    </div>
  </div> -->

  <div
    class="w-100 d-block d-md-none d-lg-none mobile-nav-bottom position-fixed d-flex align-items-center justify-content-around shadow-sm"
  >
    <a data-bs-toggle="modal" href="#exampleModalToggle" href="#"
      ><span class="bi bi-unlock-fill"></span> Sign In</a
    >
    <a href="/profile"><span class="bi bi-card-heading"></span> Profile</a>
    <!-- <a href="cart.html"><span class="bi bi-basket-fill"></span> Cart <b>2</b></a
    > -->
    <!-- <a href="profile.html"><span class="bi bi-person-badge"></span> Account</a> -->
  </div>
</Layout>
