---
import CustomerOrders from "../components/CustomerOrders";
import Footer from "../components/Footer.astro";
import LoginForm from "../components/LoginForm";
import Navbar from "../components/Navbar.astro";
import SignupForm from "../components/SignupForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Navbar -->
  <Navbar />
  <!-- body -->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="shadow-sm bg-white rounded overflow-hidden border">
          <div class="p-0">
            <div class="row px-0 m-0">
              <div class="col-12 col-md-3 px-0 bg-light">
                <div
                  class="border-bottom d-flex bg-white border-end align-items-center gap-3 p-4"
                >
                  <img
                    src="assets/img/team1.jpg"
                    alt=""
                    class="img-fluid rounded-circle bg-light h-40"
                  />
                  <span class="text-start">
                    <p class="mb-0 fw-bold">Askbootstrap</p>
                    <small class="text-muted"
                      ><i class="bi bi-phone"></i> +91 12345-67890</small
                    >
                  </span>
                  <span
                    class="ms-auto"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Edit Profile"
                  >
                    <a
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdropep"
                      class="text-decoration-none"
                      href="#"><i class="bi bi-pencil-square icon-sm"></i></a
                    >
                  </span>
                </div>
                <div
                  class="nav p-4 ps-md-4 py-md-4 pe-md-0 bg-light flex-column delivery-tabs"
                  id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical"
                >
                  <button
                    class="nav-link py-3 active"
                    id="v-pills-home-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-home"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-home"
                    aria-selected="true"
                    ><i class="bi bi-list"></i> Orders List</button
                  >
                  <button
                    class="nav-link py-3"
                    id="v-pills-profile-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-profile"
                    aria-selected="false"
                    ><i class="bi bi-geo-alt"></i> Addresses</button
                  >
                  <button
                    class="nav-link py-3"
                    id="v-pills-messages-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-messages"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-messages"
                    aria-selected="false"
                    ><i class="bi bi-wallet"></i> Manage Payments</button
                  >
                  <button
                    class="nav-link py-3"
                    id="v-pills-settings-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-settings"
                    aria-selected="false"
                    ><i class="bi bi-cash"></i> Eatsie Cash</button
                  >
                  <button
                    class="nav-link py-3"
                    id="v-pills-support-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-support"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-support"
                    aria-selected="false"
                    ><i class="bi bi-question-circle"></i> Support</button
                  >
                  <button
                    class="nav-link py-3"
                    id="v-pills-about-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-about"
                    type="button"
                    role="tab"
                    aria-controls="v-pills-about"
                    aria-selected="false"
                    ><i class="bi bi-globe"></i> About</button
                  >
                  <a href="index.html" class="nav-link py-3"
                    ><i class="bi bi-lock"></i> Logout</a
                  >
                </div>
              </div>
              <div class="col-12 col-md-9 px-0">
                <!-- 1st tab -->
                <div class="tab-content" id="v-pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="v-pills-home"
                    role="tabpanel"
                    aria-labelledby="v-pills-home-tab"
                  >
                    <div class="p-4">
                      <div class="mb-4">
                        <h5 class="mb-0 fw-bold">Past Orders</h5>
                      </div>
                      <div class="row row-cols-1 row-cols-md-1 g-4">
                        <CustomerOrders
                          email="rhtindia123@gmail.com"
                          client:load
                        />
                        <!-- <div class="col">
                          <div
                            class="border rounded p-3 shadow-sm history-card"
                          >
                            <div class="d-flex gap-3">
                              <img
                                src="assets/img/list8.jpg"
                                alt=""
                                class="img-fluid rounded bg-light h-40"
                              />
                              <span class="text-start">
                                <h6 class="mb-1 fw-bold">Deal 4 Grocery</h6>
                                <div
                                  class="text-muted small text-opacity-50 mb-1"
                                >
                                  Cafe, Beverages, Fast Food, Desserts, India
                                </div>
                                <div class="text-muted small">
                                  ORDER #124104988300 | Sat, Jan 1, 2022, 03:06
                                  PM
                                </div>
                              </span>
                              <div class="ms-auto text-end">
                                <small
                                  ><i
                                    class="bi bi-check-circle-fill text-success"
                                  ></i> Delivered on
                                </small>
                                <p class="mb-0 small text-success">
                                  Sat, Jan 1, 2022, 03:46 PM
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex align-items-center gap-3 border-top pt-3 mt-3"
                            >
                              <span class="text-start">
                                <p class="mb-0">
                                  1 Plate Chana Bhatura (2 Pcs)(Served with
                                  chana, aloo and pickle) x 2
                                </p>
                                <p class="mb-0 text-danger">
                                  Total Paid: <b>₹174</b>
                                </p>
                              </span>
                              <div class="ms-auto text-end">
                                <button
                                  class="btn btn-sm btn-outline-success text-uppercase me-2"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight">REORDER</button
                                >
                                <button
                                  class="btn btn-sm btn-success text-uppercase"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight"
                                  >VIEW DETAILS</button
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div
                            class="border rounded p-3 shadow-sm history-card"
                          >
                            <div class="d-flex gap-3">
                              <img
                                src="assets/img/list2.jpg"
                                alt=""
                                class="img-fluid rounded bg-light h-40"
                              />
                              <span class="text-start">
                                <h6 class="mb-1 fw-bold">Nature's Basket</h6>
                                <div
                                  class="text-muted small text-opacity-50 mb-1"
                                >
                                  RIchmond Town
                                </div>
                                <div class="text-muted small">
                                  ORDER #139853587372 | Sat, Jul 2, 2022, 09:43
                                  PM
                                </div>
                              </span>
                              <div class="ms-auto text-end">
                                <small
                                  ><i
                                    class="bi bi-check-circle-fill text-success"
                                  ></i> Delivered on
                                </small>
                                <p class="mb-0 small text-success">
                                  Sat, Jun 5, 2022, 07:44 PM
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex align-items-center gap-3 border-top pt-3 mt-3"
                            >
                              <span class="text-start">
                                <p class="mb-0">
                                  7" Corn Pizza x 1, 7" Onion + Paneer Pizza x 1
                                </p>
                                <p class="mb-0 text-danger">
                                  Total Paid: <b>₹144</b>
                                </p>
                              </span>
                              <div class="ms-auto text-end">
                                <button
                                  class="btn btn-sm btn-outline-success text-uppercase me-2"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight">REORDER</button
                                >
                                <button
                                  class="btn btn-sm btn-success text-uppercase"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight"
                                  >VIEW DETAILS</button
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div
                            class="border rounded p-3 shadow-sm history-card"
                          >
                            <div class="d-flex gap-3">
                              <img
                                src="assets/img/list4.jpg"
                                alt=""
                                class="img-fluid border rounded bg-light h-40"
                              />
                              <span class="text-start">
                                <h6 class="mb-1 fw-bold">Deal Grocery</h6>
                                <div
                                  class="text-muted small text-opacity-50 mb-1"
                                >
                                  Cafe, Beverages, Fast Food, Desserts, India
                                </div>
                                <div class="text-muted small">
                                  ORDER #124104988300 | Sat, Jan 1, 2022, 03:06
                                  PM
                                </div>
                              </span>
                              <div class="ms-auto text-end">
                                <small
                                  ><i
                                    class="bi bi-check-circle-fill text-success"
                                  ></i> Delivered on
                                </small>
                                <p class="mb-0 small text-success">
                                  Sat, Jan 1, 2022, 03:46 PM
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex align-items-center gap-3 border-top pt-3 mt-3"
                            >
                              <span class="text-start">
                                <p class="mb-0">
                                  1 Plate Chana Bhatura (2 Pcs)(Served with
                                  chana, aloo and pickle) x 2
                                </p>
                                <p class="mb-0 text-danger">
                                  Total Paid: <b>₹174</b>
                                </p>
                              </span>
                              <div class="ms-auto text-end">
                                <button
                                  class="btn btn-sm btn-outline-success text-uppercase me-2"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight">REORDER</button
                                >
                                <button
                                  class="btn btn-sm btn-success text-uppercase"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight"
                                  >VIEW DETAILS</button
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div
                            class="border rounded p-3 shadow-sm history-card"
                          >
                            <div class="d-flex gap-3">
                              <img
                                src="assets/img/list1.jpg"
                                alt=""
                                class="img-fluid rounded bg-light h-40"
                              />
                              <span class="text-start">
                                <h6 class="mb-1 fw-bold">
                                  Arthi Provision Store
                                </h6>
                                <div
                                  class="text-muted small text-opacity-50 mb-1"
                                >
                                  RIchmond Town
                                </div>
                                <div class="text-muted small">
                                  ORDER #139853587372 | Sat, Jul 2, 2022, 09:43
                                  PM
                                </div>
                              </span>
                              <div class="ms-auto text-end">
                                <small
                                  ><i
                                    class="bi bi-exclamation-triangle-fill text-danger"
                                  ></i> Cancelled on
                                </small>
                                <p class="mb-0 small text-success">
                                  Sat, Jun 5, 2022, 07:44 PM
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex align-items-center gap-3 border-top pt-3 mt-3"
                            >
                              <span class="text-start">
                                <p class="mb-0">
                                  7" Corn Pizza x 1, 7" Onion + Paneer Pizza x 1
                                </p>
                                <p class="mb-0 text-danger">
                                  Total Paid: <b>₹144</b>
                                </p>
                              </span>
                              <div class="ms-auto text-end">
                                <button
                                  class="btn btn-sm btn-outline-success text-uppercase me-2"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight">REORDER</button
                                >
                                <button
                                  class="btn btn-sm btn-success text-uppercase"
                                  type="button"
                                  data-bs-toggle="offcanvas"
                                  data-bs-target="#offcanvasRight"
                                  aria-controls="offcanvasRight"
                                  >VIEW DETAILS</button
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col"> -->
                        <button
                          type="button"
                          class="btn btn-outline-success btn-lg py-3 px-4 w-100"
                        >
                          SHOW MORE ORDERS
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 2nd tab -->
                <div
                  class="tab-pane fade"
                  id="v-pills-profile"
                  role="tabpanel"
                  aria-labelledby="v-pills-profile-tab"
                >
                  <div class="p-4">
                    <div class="mb-4">
                      <h5 class="mb-0 fw-bold">Manage Addresses</h5>
                    </div>
                    <div
                      class="btn-group gap-3 osahan-btn-group d-flex"
                      role="group"
                      aria-label="Basic radio toggle button group"
                    >
                      <input
                        type="radio"
                        class="btn-check"
                        name="btnradio"
                        id="btnradio1"
                        autocomplete="off"
                        checked
                      />
                      <label
                        class="btn btn-outline-light d-flex gap-4 rounded p-4 col-6"
                        for="btnradio1"
                      >
                        <i class="bi bi-house h5 mb-0"></i>
                        <span class="text-start">
                          <h6 class="mb-1 fw-bold">Home</h6>
                          <div class="text-muted small text-opacity-50 mb-4">
                            925 S Chugach St #APT 10, Palmer, Alaska 99645, USA
                          </div>
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            class="fw-bold text-success text-decoration-none text-uppercase me-3"
                            href="#">Edit</a
                          >
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#trashpop"
                            class="fw-bold text-danger text-decoration-none text-uppercase"
                            href="#">DELETE</a
                          >
                        </span>
                        <i class="bi bi-check-circle-fill ms-auto"></i>
                      </label>
                      <input
                        type="radio"
                        class="btn-check"
                        name="btnradio"
                        id="btnradio2"
                        autocomplete="off"
                      />
                      <label
                        class="btn btn-outline-light d-flex gap-4 rounded p-4 col-6"
                        for="btnradio2"
                      >
                        <i class="bi bi-building h5 mb-0"></i>
                        <span class="text-start">
                          <h6 class="mb-1 fw-bold">Work</h6>
                          <div class="text-muted small text-opacity-50 mb-4">
                            Pune, 2336 Jack Warren Rd, Delta Junction, Alaska,
                            USA
                          </div>
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            class="fw-bold text-success text-decoration-none text-uppercase me-3"
                            href="#">Edit</a
                          >
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#trashpop"
                            class="fw-bold text-danger text-decoration-none text-uppercase"
                            href="#">DELETE</a
                          >
                        </span>
                        <i class="bi bi-check-circle-fill ms-auto"></i>
                      </label>
                    </div>
                    <div
                      class="btn-group gap-3 osahan-btn-group d-flex my-3"
                      role="group"
                      aria-label="Basic radio toggle button group"
                    >
                      <input
                        type="radio"
                        class="btn-check"
                        name="btnradio"
                        id="btnradio13"
                        autocomplete="off"
                        checked
                      />
                      <label
                        class="btn btn-outline-light d-flex gap-4 rounded p-4 col-6"
                        for="btnradio13"
                      >
                        <i class="bi bi-geo-alt h5 mb-0"></i>
                        <span class="text-start">
                          <h6 class="mb-1 fw-bold">Other</h6>
                          <div class="text-muted small text-opacity-50 mb-4">
                            Kalyani Yukon Rd, Kasilof, Alaska 99610, Maharashtra
                          </div>
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            class="fw-bold text-success text-decoration-none text-uppercase me-3"
                            href="#">Edit</a
                          >
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#trashpop"
                            class="fw-bold text-danger text-decoration-none text-uppercase"
                            href="#">DELETE</a
                          >
                        </span>
                        <i class="bi bi-check-circle-fill ms-auto"></i>
                      </label>
                      <input
                        type="radio"
                        class="btn-check"
                        name="btnradio"
                        id="btnradio23"
                        autocomplete="off"
                      />
                      <label
                        class="btn btn-outline-light d-flex gap-4 rounded p-4 col-6"
                        for="btnradio23"
                      >
                        <i class="bi bi-geo-alt h5 mb-0"></i>
                        <span class="text-start">
                          <h6 class="mb-1 fw-bold">Other</h6>
                          <div class="text-muted small text-opacity-50 mb-4">
                            Maharashtra Lanark Dr, Wasilla, Alaska 99654
                          </div>
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            class="fw-bold text-success text-decoration-none text-uppercase me-3"
                            href="#">Edit</a
                          >
                          <a
                            data-bs-toggle="modal"
                            data-bs-target="#trashpop"
                            class="fw-bold text-danger text-decoration-none text-uppercase"
                            href="#">DELETE</a
                          >
                        </span>
                        <i class="bi bi-check-circle-fill ms-auto"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- 3rd tab -->
                <div
                  class="tab-pane fade"
                  id="v-pills-messages"
                  role="tabpanel"
                  aria-labelledby="v-pills-messages-tab"
                >
                  <div class="p-4">
                    <div class="mb-4">
                      <h5 class="mb-0 fw-bold">Payments</h5>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      <div class="col">
                        <div class="border rounded d-flex gap-3 p-4">
                          <img
                            src="assets/img/payment2.png"
                            alt=""
                            class="img-fluid rounded-circle bg-light h-40"
                          />
                          <span class="text-start">
                            <h6 class="mb-1 fw-bold">4691-XXXXXXXX-8449</h6>
                            <div class="text-muted small text-opacity-50 mb-3">
                              VALID TILL 02/2024
                            </div>
                            <a
                              data-bs-toggle="modal"
                              data-bs-target="#trashpop"
                              class="fw-bold text-danger text-decoration-none text-uppercase"
                              href="#">DELETE</a
                            >
                          </span>
                          <i class="bi bi-check-circle-fill ms-auto"></i>
                        </div>
                      </div>
                      <div class="col">
                        <div class="border rounded d-flex gap-3 p-4">
                          <img
                            src="assets/img/payment3.png"
                            alt=""
                            class="img-fluid rounded-circle bg-light h-40"
                          />
                          <span class="text-start">
                            <h6 class="mb-1 fw-bold">6070-XXXXXXXX-0666</h6>
                            <div class="text-muted small text-opacity-50 mb-3">
                              VALID TILL 10/2025
                            </div>
                            <a
                              data-bs-toggle="modal"
                              data-bs-target="#trashpop"
                              class="fw-bold text-danger text-decoration-none text-uppercase"
                              href="#">DELETE</a
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="border rounded d-flex gap-3 p-4">
                          <img
                            src="assets/img/payment1.png"
                            alt=""
                            class="img-fluid rounded-circle bg-light h-40"
                          />
                          <span class="text-start">
                            <h6 class="mb-1 fw-bold">yourupiid@okaxis</h6>
                            <div class="text-muted small text-opacity-50 mb-3">
                              Saved UPI Addresses
                            </div>
                            <a
                              data-bs-toggle="modal"
                              data-bs-target="#trashpop"
                              class="fw-bold text-danger text-decoration-none text-uppercase"
                              href="#">DELETE</a
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col"></div>
                    </div>
                  </div>
                </div>
                <!-- 4rth tab -->
                <div
                  class="tab-pane fade"
                  id="v-pills-settings"
                  role="tabpanel"
                  aria-labelledby="v-pills-settings-tab"
                >
                  <div class="p-4">
                    <div class="mb-4">
                      <h5 class="mb-0 fw-bold">DeliverZ Cash</h5>
                    </div>
                    <div class="row row-cols-1 row-cols-md-1 g-4">
                      <div class="col">
                        <div class="border rounded d-flex gap-3 p-4">
                          <img
                            src="assets/img/login3.png"
                            alt=""
                            class="img-fluid rounded-circle birder bg-light h-40"
                          />
                          <span class="text-start">
                            <h6 class="mb-1 fw-bold">
                              You got $50.0 Deliverz Cash!
                            </h6>
                            <div class="text-muted small text-opacity-50 mb-3">
                              use this DeliverZ Cash to save on your next orders
                            </div>
                            <a
                              class="fw-bold btn btn-sm btn-success text-uppercase"
                              href="listing.html">Tap to order</a
                            >
                          </span>
                          <div class="ms-auto text-end">
                            <small>Expire In</small>
                            <p class="mb-0 small text-success">6d:23h</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 5th tab -->
                <div
                  class="tab-pane fade"
                  id="v-pills-support"
                  role="tabpanel"
                  aria-labelledby="v-pills-support-tab"
                >
                  <div class="p-4">
                    <div class="mb-4">
                      <h5 class="mb-0 fw-bold">Support</h5>
                    </div>
                    <div class="mb-4">
                      <h6 class="fw-bold">Term and Termination</h6>
                      <p class="text-muted">
                        Either It is a long established fact that a reader will
                        be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of
                        letters, as opposed to using 'Content here, content
                        here', making it look like readable English. Many
                        desktop publishing packages and web page editors now use
                        Lorem Ipsum as their default model text, and a search
                        for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the
                        years, sometimes by accident, sometimes on purpose
                        (injected humour and the like).
                      </p>
                    </div>
                    <div class="mb-4">
                      <h6 class="fw-bold">Relationship</h6>
                      <p class="text-muted">
                        Contrary to popular belief, Lorem Ipsum is not simply
                        random text. It has roots in a piece of classical Latin
                        literature from 45 BC, making it over 2000 years old.
                        Richard McClintock, a Latin professor at Hampden-Sydney
                        College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage,
                        and going through the cites.
                      </p>
                    </div>
                    <div class="mb-4">
                      <h6 class="fw-bold">Notice</h6>
                      <p class="text-muted mb-2">
                        All notices under these Terms shall be sent by
                        registered post acknowledgment due, contemporaneous
                        courier or email to the address mentioned below:
                      </p>
                      <div class="text-muted">
                        <div class="fw-bold">Deliverz.</div>
                        <p>
                          Reg Office: 817 Brimley Rd, Scarborough, ON M1J 1C9
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 6th tab -->
                <div
                  class="tab-pane fade"
                  id="v-pills-about"
                  role="tabpanel"
                  aria-labelledby="v-pills-about-tab"
                >
                  <div class="p-4">
                    <div class="mb-4">
                      <h5 class="mb-0 fw-bold">About Us</h5>
                    </div>
                    <div class="mb-4">
                      <h6 class="fw-bold">
                        You now have the power to move things
                      </h6>
                      <p class="text-muted">
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration in
                        some form, by injected humour, or randomised words which
                        don't look even slightly believable.
                      </p>
                    </div>
                    <div class="mb-4">
                      <h6 class="fw-bold">Relationship</h6>
                      <p class="text-muted">
                        The standard chunk of Lorem Ipsum used since the 1500s
                        is reproduced below for those interested. Sections
                        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
                        by Cicero are also reproduced in their exact original
                        form, accompanied by English versions from the 1914
                        translation by H. Rackham.
                      </p>
                    </div>
                    <div class="mb-4">
                      <h6 class="fw-bold">Notice</h6>
                      <p class="text-muted mb-2">
                        Internet tend to repeat predefined chunks as necessary,
                        making this the first true generator on the Internet. It
                        uses a dictionary.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<!-- Footer -->
<Footer />

<!-- Login Modal -->
<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg modal-dialog-centered login-popup-main">
    <div class="modal-content border-0 shadow overflow-hidden rounded">
      <div class="modal-body p-0">
        <div class="login-popup">
          <button
            type="button"
            class="btn-close position-absolute"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
          <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image1"></div>
            <div class="col-md-8 col-lg-8 py-lg-5">
              <div class="login p-5">
                <h5 class="mb-2 fw-bold">Hey! Signin with Email Address</h5>
                <p class="text-muted mb-0">
                  Please login with this email address the next time you sign-in
                </p>
                <LoginForm client:load />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Signup Modal -->
<div
  class="modal fade"
  id="exampleModalToggle2"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg modal-dialog-centered login-popup-main">
    <div class="modal-content border-0 shadow overflow-hidden rounded">
      <div class="modal-body p-0">
        <div class="login-popup">
          <button
            type="button"
            class="btn-close position-absolute"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
          <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image1"></div>
            <div class="col-md-8 col-lg-8 py-lg-5">
              <div class="login p-5">
                <h5 class="mb-2 fw-bold">Hey! Signup with Email Address</h5>
                <SignupForm client:load />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="w-100 d-block d-md-none d-lg-none mobile-nav-bottom position-fixed d-flex align-items-center justify-content-around shadow-sm"
>
  <a data-bs-toggle="modal" href="#exampleModalToggle" href="#"
    ><span class="bi bi-unlock-fill"></span> Sign In</a
  >
  <a href="/profile"><span class="bi bi-card-heading"></span> Profile</a>
  <a href="cart.html"><span class="bi bi-basket-fill"></span> Cart <b>2</b></a>
  <!-- <a href="profile.html"><span class="bi bi-person-badge"></span> Account</a> -->
</div>
