---

---

<section class="footer py-5">
  <div class="container">
    <div class="row">
      <h5 class="mb-4 fw-bold text-dark">Areas we deliver to</h5>
      <div class="col-lg-3 col-md-6 col-6">
        <ul class="list-unstyled d-grid gap-2 mb-0">
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >Scarborough</a
            >
          </li>
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >North York</a
            >
          </li>
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >Markham</a
            >
          </li>
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >Pickering</a
            >
          </li>
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >Ajex</a
            >
          </li>
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >Whitby</a
            >
          </li>
          <li>
            <a href="listing.html" class="text-decoration-none text-muted"
              >Oshawa</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="bg-footer py-5 d-none d-md-block">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-white">
        <h6 class="fw-bold mb-4">You can't stop time, but you can save it</h6>
        <p class="text-white-50 m-0">
          Living a busy life means finding time to cook nutritious meals can be
          a challenge. Why worry about meal prep when we can take care of it for
          you? With our subscription-based tiffin service, enjoy fresh,
          home-style meals delivered straight to your doorstep every day. No
          more grocery shopping, cooking, or cleaning—just healthy, delicious
          food, ready to eat. Choose your plan, customize your schedule, and let
          us handle the rest. Just subscribe and enjoy!
        </p>
      </div>
    </div>
    <hr class="text-white" />
    <div class="row text-white mt-5">
      <div class="col-md-4 col-12">
        <div>
          <img src="assets/img/fav.png" alt="" class="img-fluid footer-logo" />
        </div>
      </div>
      <div class="col-md-2 col-6">
        <h6 class="text-uppercase mb-4 fw-bold">Eatsie</h6>
        <ul class="list-unstyled d-grid gap-2 text-decoration-none">
          <li>
            <a class="text-decoration-none text-white-50" href="about.html"
              >About us</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="jobs.html"
              >Jobs</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="contact.html"
              >Contact Us</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="cupons.html"
              >Cupons</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h6 class="text-uppercase mb-4 fw-bold">My Profile</h6>
        <ul class="list-unstyled d-grid gap-2">
          <li>
            <a class="text-decoration-none text-white-50" href="profile.html"
              >Orders List</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="profile.html"
              >Addresses</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="profile.html"
              >Manage Payments</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="profile.html"
              >Eatsie Cash</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="profile.html"
              >Support / Help</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h6 class="text-uppercase mb-4 fw-bold">Shop Pages</h6>
        <ul class="list-unstyled d-grid gap-2">
          <li>
            <a class="text-decoration-none text-white-50" href="search.html"
              >Search</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="listing.html"
              >Listing</a
            >
          </li>
          <li>
            <a
              class="text-decoration-none text-white-50"
              href="listing-detail.html">Listing Detail</a
            >
          </li>
          <li>
            <a
              class="text-decoration-none text-white-50"
              href="product-detail.html">Product Detail</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="cart.html"
              >Cart / Checkout</a
            >
          </li>
          <li>
            <a
              class="text-decoration-none text-white-50"
              href="success-order.html">Success Order</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h6 class="text-uppercase mb-4 fw-bold">get in touch</h6>
        <ul class="list-unstyled d-grid gap-2">
          <li>
            <a class="text-decoration-none text-white-50" href="#">Email</a>
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="#">Twitter</a>
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="#">Facebook</a>
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="#">Instagram</a>
          </li>
          <li>
            <a class="text-decoration-none text-white-50" href="#">Linkedin</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
